streamlit==1.39.0
pandas
numpy
python-dotenv
PyPDF2
pdfminer.six
opencv-python-headless
ghostscript
xlsxwriter
camelot-py[cv]==0.11.0
langchain==0.0.353
langchain-groq==0.1.1
langchain-community==0.0.19
tiktoken
