# Core
streamlit==1.39.0
pandas
numpy
python-dotenv
PyPDF2
pdfminer.six
opencv-python-headless
ghostscript
xlsxwriter

# Camelot
camelot-py[cv]==0.11.0

# LangChain compatible versions
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.53
langchain-groq==0.1.1
langsmith==0.1.9

# Others
tiktoken
